# Pandas Exercises

In [ ]:
import pandas as pd
#optional allows Notebook to display all columns
pd.set_option("display.max_columns", None)

### 1. Write statements to properly import the dataset stored in house_price.csv into as a DataFrame df_house. You should use the id as the row index for your DataFrame.

In [ ]:
df_house = pd.read_csv('house_price.csv', na_values='NA', index_col=0)

### 2. Create a Pandas Series "price" using the data from the column 'SalePrice' in df_house

In [ ]:
price = df_house['SalePrice']

### 3. Create a Pandas DataFrame "df_location" using the data from the columns 'Neighborhood' and 'Condition1' in df_house

In [ ]:
df_location = df_house[['Neighborhood', 'Condition1']]

### 4. Find sale prices for houses with id 222 and 333

In [ ]:
price.loc[[222,333]]

### 5. Find the first 100 records in df_location

In [ ]:
df_location.iloc[0:100] #df_location.head()

### 6. Find all the rows from df_house with OverallQual at least 8  and save the result as a new DataFrame df_great.

In [ ]:
df_great = df_house.loc[df_house['OverallQual'] >= 8]

In [ ]:
df_great = df_house.loc[(df_house['OverallQual'] >= 8)
                        & (df_house['SalePrice'] <= 300000)]
df_great

### 7. Write statements to get some basic statistic summary of df_house. Find out if there is any missing values.

In [ ]:
df_house.info()

In [ ]:
df_house.describe()

In [ ]:
df_house.isnull().sum()

### 8. Visualize your data with seaborn or pandas build-in methods.

In [ ]:
df_house.plot(kind='box')

In [ ]:
import seaborn as sns

In [ ]:
sns.displot(df_house['SalePrice'])

### 9. Remove rows with more than 1 missing values from df_house

In [ ]:
df_house.dropna(thresh=27)

In [ ]:
df_house = df_house.dropna(thresh=27)

### 10. Remove columns with more than 33% missing values from you df_house

In [ ]:
df_house = df_house.dropna(thresh=len(df_house) * 0.67, axis=1)

In [ ]:
df_house.isnull().sum()

### 11. Impute the missing values with reasonable values

In [ ]:
df_house.fillna({'LotFrontage': df_house['LotFrontage'].mean()}, inplace=True)

In [ ]:
df_house.isnull().sum()

### 12. Remove outliers based on SalePrice.

In [ ]:
df_house['SalePrice'].hist()

In [ ]:
top1 = df_house['SalePrice'].mean() + 2 * df_house['SalePrice'].std()
bot1 = df_house['SalePrice'].mean() - 2 * df_house['SalePrice'].std()
print(top1, bot1)

In [ ]:
df_house['SalePrice'].describe()

In [ ]:
df_house['SalePrice'].describe()['75%']

In [ ]:
IQR = df_house['SalePrice'].describe()['75%'] - df_house['SalePrice'].describe()['25%']
#IQR = df_house['SalePrice'].quantile(0.75) - df_house['SalePrice'].quantile(0.25)
top2 = df_house['SalePrice'].describe()['75%'] + 1.5 * IQR
bot2 = df_house['SalePrice'].describe()['25%'] - 1.5 * IQR
print(top2, bot2)

In [ ]:
df_house_cleaned = df_house.drop(df_house[df_house['SalePrice'] > top1].index)

###  Week 7 Exercise

In [ ]:
import seaborn as sns
# create a separate histogram for each feature
for i in df_house_cleaned.columns:
    sns.displot(df_house_cleaned[i])

In [ ]:
# use numpy log() function to do the log transformation
import numpy as np
sns.displot(np.log(df_house_cleaned['LotFrontage']))

In [ ]:
df_house_cleaned['logLotFront'] = np.log(df_house_cleaned['LotFrontage'])

In [ ]:
# make sure you remove the original feature after the transformation
del df_house_cleaned['LotFrontage']

In [ ]:
df_house_cleaned.describe(include='object')

In [ ]:
# convert categorical features into dummies
df_new = pd.get_dummies(
    df_house_cleaned,
    columns=['MSZoning', 'Street', 'LotShape', 'LandContour', 'BldgType'])
df_new

In [ ]:
# cut YearGroup numeric feature into categorical feature
df_new['YearGroup'] = pd.cut(df_new['YearBuilt'],
                             [0, 1949, 1988, float("inf")],
                             labels=['pre-1950', 'pre-1988', 'post-1988'])

In [ ]:
df_new = pd.get_dummies(df_new, columns=['YearGroup'])

In [ ]:
del df_new['YearBuilt']
df_new

### Regular Expression Exercise

In [ ]:
import re

#### Extract the domain name from an email address, for example wbs.ac.uk from Zhewei.zhang@wbs.ac.uk

In [ ]:
# @([\w][\w\.]*[\w])$
re.findall(r'@([\w][\w\.]*[\w])$', 'zhewei.zhang@wbs.ac.uk')

#### Extract the month from a date string, like May from 02-May-2022.

In [ ]:
# -([a-zA-Z]+)-
re.findall(r'-([a-zA-Z]+)-', '02-May-2022')

#### Extract the national code and area code from a phone number, like +44 and 024 from (+44) 024 765 24330

In [ ]:
# \+\d{1,3}
re.findall(r'\+\d{1,3}', '(+44) 024 765 24330')

# \)\s(\d+)\s
re.findall(r'\)\s(\d+)\s', '(+44) 024 765 24330')